[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==8.2.2"
pytest-xdist = "==3.6.1"
buildkite-test-collector = { git = 'https://github.com/buildkite/test-collector-python', ref = 'xdist-duplicates' }

[dev-packages]

[requires]
python_version = "3.12"
